.default-mobile-img {
  display: none;
}

.default-mobile {
  display: none;
}

.default-section1 {
  position: inherit;
}

.default-bottom {
  position: absolute;
  margin: 0 auto;
  display: none;
  bottom: 25px;
}

@media screen and (max-width: 768px) {
  .default-mobile-img {
    display: block;
  }
  .default-video {
    display: none;
  }
  .default-pc {
    display: none;
  }
  .default-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .default-mobile img {
    width: 250px;
  }
}